{% if app.user %}
{% endif %}

{% block head %}  
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <title>{% block title %}Strona glowna{% endblock %}</title>
{% endblock %}
        {% block stylesheets %}
            <link href="{{asset('/main.css') }}" rel="stylesheet"/> 
            <script src="https://kit.fontawesome.com/44cff32433.js" crossorigin="anonymous"></script>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block body %}
    <div>
        <span id="G">G</span>
        <span id="R">R</span>
        <span id="U">U</span>
        <span id="P">P</span>
        <span id="A">A</span>
        <span id="S"></span>
        <span id="D">2</span>
    </div>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><i class="fas fa-align-justify"></i></label>
    <div class="wrapper">
        <ul>
        {% if not app.user %}
            <li><a href="{{ path('app_login')}}">Logowanie</a></li>
            <li><a href="{{ path('app_o_nas')}}">O nas</a></li>
        {% endif %}
        {% if app.user %}
	    <li><a href="#">User: {{app.user.username}}</a></li>
            <li><a href="{{ path('main_game')}}">Gra</a></li>
            <li><a href="{{ path('app_logout')}}">Wyloguj</a></li>
            <li><a href="{{ path('app_o_nas')}}">O nas</a></li>
        {% endif %}
        </ul>
    </div>
{% endblock %}
