{% extends 'base.html.twig' %}

{% block title %}Hello HistoriagierController!{% endblock %}

{% block body %}

<link href="{{ asset('dokumenty.css') }}" rel="stylesheet"/>

<h1 id="top">
Statystyki i Historia gier
</h1>


<div id="statystyki">
{% for x in bazadanych %}
<table id="statystykia">
    <tr>
        <td>Wygrane : {{x.wygrane}}</td>
        <td>Przegrane : {{x.przegrane}}</td>
        <td>Remisy : {{x.remisy}}</td>
        <td>Łącznie zagranych gier : {{x.wygrane + x.przegrane + x.remisy}}</td>
        <td>% wygranych : {% if x.wygrane == 0 %}
            0
        {% else %}
            {{((x.wygrane) / (x.wygrane + x.przegrane + x.remisy) * 100)|number_format(2) }}%
        {% endif %}</td>
    </tr>
</table>
{% endfor %}
</div>

<div class="historiazagranych" id="historiazagranych">
<table >
<tr>
    <td>Nazwa użytkownika</td>
    <td>Status gry</td>
    <td>Data Gry</td>

</tr>
{% for x in bazadanych %}
    {% for y in historiagier %}
    <tr>
        <td>{{x.username}}</td>
        {% if y.Wynikgry == 1 %}
        <td>wygrana</td>
        {% endif %}
        {% if y.Wynikgry == 2 %}
        <td>przegrana</td>
        {% endif %}
        {% if y.Wynikgry == 3 %}
        <td>remis</td>
        {% endif %}
        <td>{{y.datagry}}</td>
    </tr>
    {% endfor %}
{% endfor %}
</div>
{% endblock %}
