<!DOCTYPE html>
<html>
    <head>
    {% block head %}
    {% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}O nas{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/subpage.css') }}"/>
            <script src="https://kit.fontawesome.com/44cff32433.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <div class="area">
        {% block body %}
        {% endblock %}
        </div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">Strona główna
                        </span>
                    </a>
                </li>
		<li>
		    <a href="/o-nas">
			<i class="fa fa-circle-info fa-2x"></i>
                        <span class="nav-text">O nas
                        </span>
                    </a>
                </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('main_game') }}">
                       <i class="fa fa-gamepad fa-2x"></i>
                        <span class="nav-text">
			                Powrót do gry
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_instrukcja') }}">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
			                Instrukcja gry
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_dokumentacja') }}">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
			                Dokumentacja
                        </span>
                    </a>
                </li>
	    </ul>
            <ul class="logout">
                <li>
                   <a href="{{ path('app_logout')}}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Wyloguj się
                        </span> 
                    </a>
                </li>  
            {% endif %}
            </ul>
        </nav>



    </body>
</html>
